body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 244, 249);
    margin-top: 6rem;
    gap: 10rem;
}

#testButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    color: white;
    background-color: rgb(15, 49, 129);
    border-radius: 1.5rem;
    width: 5rem;
    height: 4rem;    
}

#cake-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    margin-top: 8rem;
    width: 20rem;
}

#feedback-container {
    display: flex;
    flex-direction: column;
}

#asking-container {
    display: flex;
    flex-direction: column;
}